:root{
    --first-main-color:rgba(71, 71, 71, 0.445);
}
#connexion {
    justify-content: stretch;
    text-align: center;
}
input {
    border-radius: 10px;
}
form>div {
    justify-content: stretch;
}
h2 {
    color:var(--first-main-color);
}

.card{
    margin : 5px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 3px 8px 1px var(--first-main-color); 
    box-shadow: 2px 3px 8px 1px var(--first-main-color);
}
