:root {
    --first-main-color: rgba(71, 71, 71, 0.445);
    --second-main-color: #00239a;
    --third-main-color: #FF1300;
    --fourth-main-color: rgba(233, 231, 231, 0.911);
}

@font-face {
    font-family: 'font-generale';
    src: url("./Josefin/static/JosefinSans-Light.ttf");
}
@font-face {
    font-family: 'font-prix';
    src: url("./Jost/static/Jost-ExtraBold.ttf")
}
@font-face {
    font-family: 'font-titre';
    src: url("./Jost/static/Jost-Bold.ttf")
}

* {
    text-align: center;
    justify-content: space-around;
    border-radius: 5px;
    list-style: none;
    font-family: "font-generale";
    font-weight: 600;
}
body {
    background-color: var(--second-main-color);
}

container-fluid {
    padding:0px;
}
td, th, thead {
    background-color: var(--fourth-main-color);
}
a,
h3{
    color: var(--second-main-color);
    text-transform: uppercase;
    font-weight:900;
}
h2 {
    color:var(--fourth-main-color);
    text-transform: uppercase;
    font-family: 'font-titre';
}
label
{
    color:var(--second-main-color);
    text-transform: uppercase;
    font-family: 'font-titre';
}
form {
    padding: 10px;
}
.blanc {
    background-color : var(--fourth-main-color);
}
.page {
    margin-top:20px;
    margin-bottom:10px;
    line-height: 3;
}
a:hover,
h2:hover,
h3:hover {
    color: var(--third-main-color);
    text-decoration: none;
}
.titre {
    margin:16px;
}

input {
    border-radius: 10px;
}

.row {
    justify-content: space-around;
}

/**********Log In*************/
#connexion {
    justify-content: stretch;
    text-align: center;
}

form>div {
    justify-content: stretch;
}

/******Affichage des articles********/

.card {
    border-radius: 10px;
    -webkit-box-shadow: 2px 3px 8px 1px var(--third-main-color);
    box-shadow: 2px 3px 4px 1px var(--third-main-color);
    transition: 0.5s;
    margin: 15px 15px;
    align-items: center;
    min-width: 23vw;
}

.card:hover {
    -webkit-box-shadow: 2px 3px 8px 1px var(--second-main-color);
    box-shadow: 2px 3px 4px 1px var(--second-main-color);
}

.enSavoirPlus {
    background-color: #fcfbf8;
    border: 3px solid #00239a;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5rem 1.5rem;
    box-shadow: 2px 2px 0 0 #fc362f;
    margin: 9px;
}
.prix{
    font-family: "font-prix";
    font-weight:900;
    font-size:36px;
}
/************Interfaces de gestion des articles **************/
#btnCreerArticle{
    margin : 7px;
}